@import url ('https://fonts.googleapis.com/css?family=Montserrat')
.titlesAndMajorHeadings{
   font-family:Montserrat, Helvatica, sans-serif;
   font-size: 64px;
   text-aling: center
}

.subHeadingsAndFooters{
  font-family:Verdana, sans-serif;
  
}
